<!DOCTYPE html>
<html>
<body>
<div th:fragment="nav">

    <div class="columnLeftMenu">

        <h6 ><span class="f-right"></span>系统管理</h6>
        <ul >
            <li><a th:classappend="${page == 'cinema/index' ? 'currentPageNav' : ''}" th:href="@{/cinema/index}">影院管理</a></li>
            <li><a th:classappend="${page == 'movie/index' ? 'currentPageNav' : ''}" th:href="@{/movie/index}">电影管理</a></li>
            <li><a th:classappend="${page == 'show/index' ? 'currentPageNav' : ''}" th:href="@{/show/index}">节目管理</a></li>
            <li><a th:classappend="${page == 'person/index' ? 'currentPageNav' : ''}" th:href="@{/person/index}">观众管理</a></li>
            <li><a th:classappend="${page == 'worth/movie' ? 'currentPageNav' : ''}" th:href="@{/worth/movie}">评分统计</a></li>
            <li><a th:classappend="${page == 'worth/user' ? 'currentPageNav' : ''}" th:href="@{/worth/user}">推荐给观众</a></li>
            <li><a th:classappend="${page == 'worth/friend' ? 'currentPageNav' : ''}" th:href="@{/worth/friend}">推荐给朋友</a></li>
        </ul>
    </div>
</div>
</body>
</html>